#sidebar-menu {
  margin-top: 55px !important;
}

.main-sidebar {
  display: contents;
}

.pushable > .pusher {
  min-height: 100vh;
  width: 100%;
}

.ui.sidebar.menu .item {
  width: 150px;
}

@media only screen and (min-width: 1024px) {
  .pushable > .pusher {
    padding: 2em 2.5em;
  }

  .ui.visible.left.sidebar ~ .pusher {
    width: 92%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pushable > .pusher {
    padding: 1em 1.5em;
  }
  .ui.visible.left.sidebar ~ .pusher {
    width: 80%;
  }
}

@media only screen and (max-width: 767px) {
  .pushable > .pusher {
    padding: 0.1em 0.5em;
  }
  .ui.visible.left.sidebar ~ .pusher {
    width: 75%;
  }
}
