.invoice-img {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 170px;
  }
  
.invoice-text {
    width: 100%;
    background-color: white;
}

.invoice-button {
    height: 50px !important;
    width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    color: white !important;
    background-color: #0f1b28 !important;
}

.invoice-col-button {
    padding-right: 10px !important;
}

.invoice-col-text {
    padding-top: 10px !important;
    margin: 10px !important;
    display: flex !important;
    justify-content: center !important;
}

.title {
    color: rgb(149, 149, 149);
    padding-top: 10em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }

.paragraph {
    margin-top: 15px;
    color: rgb(54, 54, 54);
    text-align: center;
}
