.staff-control-button {
  /* margin: 20px !important; */
  padding: 20px !important;
  width: 100%;
  height: 70px;
  font-size: 26px !important;
}

.staff-access-employee-name {
  font-weight: bold;
  font-size: 26px;
}

.staff-access-row {
  text-align: center !important;
}

.staff-access-input-id {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

/* form: {
  flexWrap: 'wrap',
  alignItems: 'left',
  display: 'flex',
  height: '100%',
  marginTop: 15,
  marginRight: 0,
  marginLeft: 0,
  marginBottom: 20,
}, */
